
.footer-container {
  display: flex;
  padding: 100px 100px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-bottom: 1px solid rgba(139, 139, 139, 0.70);
  overflow: hidden;
}

.footer-content {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid rgba(139, 139, 139, 0.7);
}

.footer-content-left h2 {
  color: #414141;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #414141;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
}

.footer-content-right {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.explore-links,
.service-links {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 16px;
}

.explore-links h3,
.service-links h3 {
  color: #414141;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

.explore-links ul,
.service-links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.explore-links li,
.service-links li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.explore-links a,
.service-links a {
  color: #8B8B8B;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.explore-links a:hover,
.service-links a:hover {
  color: #F28623;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 50px 20px 10px;
  }

  .footer-content {
    flex-direction: column;
    gap: 40px;
    text-align: left;
    align-items: start;
  }

  .footer-content-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .explore-links,
  .service-links {
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
    text-align: left;
    align-items: start;
  }

  .footer-content-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .explore-links,
  .service-links {
    width: 100%;
    align-items: flex-start;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #8B8B8B;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
