
.form-details-div {
    display: flex;
    flex-wrap: wrap;
}

.form-ditail-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form-ditail-div h5 {
    color: #F68712;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
}

.form-ditail-div h2 {
    color: #414141;
    font-family: Catamaran;
    font-size: 36px;
    font-weight: 700;
}

.form-ditail-div p {
    color: #8B8B8B;
    font-family: Inter;
    font-size: 16px;
}

.contact-details-section {
    border-radius: 0px 16px 16px 0px;
    border: 1px solid #E4F2F8;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.contact-details-section h3 {
    color: #414141;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 600;
}

.contact-details-section p {
    color: #8B8B8B;
    font-family: Inter;
    font-size: 16px;
}

.contact-details-with-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.contact-details-with-logo-under {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-circle {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 41px;
    background: #F7F9FB;
}

.logo-circle h3 {
    color: #414141;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.main-form-section {
    display: flex;
    width: 526px;
    padding: 40px 40px 20px 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px 0px 0px 16px;
    border-top: 1px solid #EDF6FA;
    border-bottom: 1px solid #EDF6FA;
    border-left: 1px solid #EDF6FA;
    background: #FFF;
    backdrop-filter: blur(10px);
}

.form-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-div p {
    color: #8B8B8B;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.input-container {
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #EDF6FA;
    gap: 10px;
}

.input-container input,
.input-container select {
    border: none;
    outline: none;
}

.option-text {
    color: #8B8B8B;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.new-input-added {
    display: flex;
}

.input-box-textarea {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #EDF6FA;
}

.enquery-button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-color);
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.checkbox-styel {
    color: #8B8B8B;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.input-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #EDF6FA;
}

.new-div-form-content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 24px;
}

.new-div-form-content button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}




@media (max-width: 768px) {
    .form-details-div {
        flex-direction: column;
        
    }
    .form-ditail-div h5{
        font-size: 30px;
       margin-bottom: 0;
    }

    .form-ditail-div h2 {
        font-size: 28px;
        margin: 0;
    }

    .form-ditail-div p {
        font-size: 14px;
        margin: 0;
    }

    .contact-details-section {
        padding: 20px;
        gap: 20px;
    }

    .contact-details-with-logo {
        gap: 10px;
    }

    .main-form-section {
        width: 100%;
        padding: 20px;
    }

    .form-style {
        gap: 15px;
    }

    .input-div p {
        font-size: 14px;
    }

    .input-container {
        padding: 6px 10px;
    }

    .input-container input,
    .input-container select {
        padding: 8px;
    }

    .input-box-textarea {
        padding: 6px 10px;
    }

    .enquery-button {
        padding: 12px 28px;
        font-size: 14px;
    }

    .checkbox-styel {
        font-size: 10px;
    }

    .input-checkbox {
        width: 18px;
        height: 18px;
    }

    .new-div-form-content button {
        padding: 12px 28px;
    }
}


@media (max-width: 480px) {
    .form-details-div {
        flex-direction: column;
        gap:10px
    }

    .form-ditail-div h2 {
        font-size: 24px;
        margin: 0;
    }

    .form-ditail-div p {
        font-size: 12px;
        margin: 0;
    }

    .contact-details-section {
        padding: 15px;
        gap: 15px;
    }

    .main-form-section {
        width: 100%;
        padding: 15px;
    }

    .form-style {
        gap: 12px;
    }

    .input-div p {
        font-size: 12px;
    }

    .input-container {
        padding: 5px 8px;
        align-items: center;
    }

    .input-box-textarea {
        padding: 5px 8px;
    }

    .enquery-button {
        padding: 10px 24px;
        font-size: 12px;
    }

    .checkbox-styel {
        font-size: 9px;
    }

    .input-checkbox {
        width: 15px;
        height: 15px;
    }

    .new-div-form-content button {
        padding: 10px 24px;
    }
}
