.main-div-conatiner {
  margin-top: 80px;
  display: flex;
  padding: 0px 100px;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}
.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid #e4f2f8;
  background: #fff;
}

.newsletter-heading {
  display: flex;
  width: 1024px;
  padding: 32px 0px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  h2 {
    width: 355px;
    color: #8b8b8b;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    align-self: stretch;
    color: #414141;
    font-family: Catamaran;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
  }
}

.newsletter-image {
  img {
    width: 140px;
    align-self: stretch;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
  }
}

.newsletter-form {
 
  width: 100%;
  display: flex;
  input {
    display: flex;
    padding: 14px 20px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #edf6fa;
    margin-right: 20px;
  }
  button {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #f68712;
  }
}


.newsletter-container-2{
    display: flex;
    padding-left: 40px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    border-radius: 16px;
border: 1px solid #E4F2F8;
background: #FFF;

}