.main-selected-country-div {
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    /* background: #FFF; */
    overflow: hidden;
}

.selected-country-heading {
    display: flex;
    align-items: center;
    gap: 100px;
    align-self: stretch;

    h2 {
        color: #414141;
        font-family: Catamaran;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
      
    }

    p {
        color: #8B8B8B;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex: 1 0 0;
    }
}

.seleted-country-funtionality {
    display: flex;
    width: 100%;
    gap: 10px;
}

.region-map-div {
    display: flex;
    width: 202px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
    border-radius: 0px 0px 8px 8px;
    border-right: 1px solid #EDF6FA;
    border-bottom: 1px solid #EDF6FA;
    border-left: 1px solid #EDF6FA;
    background: #FFF;
}

.map-sigle-region {
    display: flex;
    height: 41px;
    padding: 4px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.map-sigle-region {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
}

.map-sigle-region.selected-region {
    background-color: #F68712;
    color: white;
}

.map-countries-div ul {
    list-style-type: none;
    padding: 0;
}

.map-countries-div ul li {
    padding: 5px 0;
    cursor: pointer;
}

.selected-country {
    background-color: #F68712;
    color: white;
    font-weight: bold;
}

.map-countries-div {
    display: flex;
    padding: 16px;
    /* align-items: center; */
    align-content: center;
    gap: 16px;
    flex: 1 0 0;
    flex-wrap: wrap;
    width: 100% !important;
    background-color: #f0f0f0;
    border-radius: 8px;

}

.select-single-country {
    display: flex;
    min-width: 242px;
    max-width: 242.5px;
    padding: 16px 24px;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #E4F2F8;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.visa-type-filter {
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.visa-buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: #f0f0f0;
    width: 100%;
}

.selected-visa-type {
    background-color: #F68712;
}

.visa-button {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.visa-button:hover {
    background-color: #f68712;
    color: white;
}

.selected-visa-button {
    background-color: #F68712;
    color: white;
}

.map-countries-div {
    margin-top: 20px;
}

.select-single-country {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.select-single-country:hover {
    background-color: #f1f1f1;
}

.selected-country {
    background-color: #F68712;
    color: white;
    font-weight: bold;
}

.map-sigle-region {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f7f7f7;
    transition: background-color 0.3s;
}

.map-sigle-region.selected-region {
    background-color: #F68712;
    color: white;
}
@media (max-width: 1000px) {
    .selected-country-heading{
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .main-selected-country-div {
        padding: 20px;
    }

    .selected-country-heading {
        flex-direction: column;

    }

    .selected-country-heading {
        gap: 10px;

        h2 {
            text-wrap: wrap;

            width: 100%;
        }
    }

    .select-single-country {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .main-selected-country-div {
        padding: 20px;
    }

    .selected-country-heading {
        flex-direction: column;

    }

    .selected-country-heading {
        gap: 10px;

        h2 {
            text-wrap: wrap;

            width: 100%;
        }
    }

    .select-single-country {
        width: 100% !important;
    }

    .map-countries-div {
        width: 100% !important;
    }

    .region-map-div{
        width: 50% !important;
        padding: 5px;
    }
}